appdirs==1.4.4
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
cssselect==1.1.0
fake-useragent==0.1.11
h11==0.13.0
idna==3.3
importlib-metadata==4.10.1
lxml==4.7.1
outcome==1.1.0
parse==1.19.0
pycparser==2.21
pyee==8.2.2
pyOpenSSL==21.0.0
pyppeteer==1.0.2
pyquery==1.4.3
requests==2.27.1
requests-html==0.10.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
termcolor==1.1.0
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
w3lib==1.22.0
webdriver-manager==3.5.2
websockets==10.1
wsproto==1.0.0
zipp==3.7.0